.explanatoryText {
  margin: 20px 0;
  font-size: 30px;
  grid-column: 2 / span 1;
}

.namesMissed {
  grid-column: 2 / span 1;
  margin: 5px 0;
}

.namesMissedCard {
  width: 50%;
}

.beginRoundButton {
  grid-column: 2 / span 1;
  justify-self: center;
}
