.resultsContainer {
  grid-column: 2 / span 1;
}

.resultsCard {
  margin: 20px 0;
}

.setupInstructions {
  margin: 20px 0;
  font-size: 30px;
  grid-column: 2 / span 1;
}

.beginTurnButton {
  grid-column: 2 / span 1;
  justify-self: center;
}
